body, h1, h2, h3, h4, h5, h6, p, span, div, ul, li, ol, a {
	color: #666;
	margin: 0px;
	padding: 0px;
}

.container-div {
	padding-top: 110px;
}

.header-div {
    background: white;
    padding: 20px 0 0;
    width: 100%;
    z-index: 100;
    height: 110px;
    border: 1px solid #DCDCDC;
}

.header-div .header-right {
	color: #fff;
}

.header-div .header-right a {
	color: red;
	font-size: 14px;
	margin: 0 5px;
}

.header-div .header-right a .fa {
	font-size: 16px;
}

.header-div .btn-search {
	margin-left: -10px !important;
}

slider .carousel .carousel-control {
	top: 45%;
	font-size: 25px;
	background: none;
}

.product-slide {
	margin: 20px 0;
}

.product-slide h2 {
	padding: 10px 0;
}

.product-slide .owl-carousel {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	padding: 40px 15px 10px 15px;
}

.product-slide .owl-carousel .item .prod-img {
	min-height: 142px;
}

.product-slide .owl-carousel .item .price_info {
	padding: 10px 0;
}

.product-slide .owl-carousel .item .price_info .strike {
	color: #a4a4a4;
}

.product-slide .owl-carousel .item .price_info .original_price {
	font-weight: bold;
}

.product-slide .owl-carousel .item .price_info .offer {
	color: #62bd7f;
}

.product-slide .owl-carousel .owl-nav {
	position: absolute;
	top: 10px;
	width: 40px;
	right: 0px;
}

.product-slide .owl-carousel .owl-nav .fa {
	font-size: 25px;
}

.product-slide .owl-carousel .owl-nav .disabled {
	opacity: 0.5;
}

.product-slide .owl-carousel .owl-nav .owl-prev {
	width: 20px;
	float: left;
}

.product-slide .owl-carousel .owl-nav .owl-next {
	width: 20px;
	float: left;
}

.product-div .caption-div {
	color: #666;
	background: #333;
	line-height: 300px;
	font-size: 52px;
	text-align: center;
}

.product-div #product_title {
	font-size: 20px;
}

.product-div #price_value {
	font-weight: bold;
	font-size: 20px;
}

.product-div #quantity_container {
	margin-top: 3%;
}

.product-div #add_to_cart {
	margin-top: 3%;
	padding-top: 3%;
}

.product-div #add_to_cart .btn {
	width: 100%;
}

.product-div #accordion {
	margin-top: 3%;
	padding-top: 3%;
	width: 100%;
}

.product-div .product-slide .carousel-inner .item img {
	margin: auto;
}

.product-div .product-slide .carousel-control {
	background: none;
	width: 30px;
	opacity: 1;
}

.product-div .product-slide .carousel-control .fa {
	color: #024e02;
	font-size: 30px;
}

.products-div .filter-div {
	background: #EDEFF1;
	padding: 15px 10px 40px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.products-div .filter-div h3 {
	font-size: 20px;
}

.products-div .filter-div .panel-group {
	padding-top: 15px;
	margin: 0 -10px;
}

.products-div .filter-div .panel-group .panel {
	margin: 0px;
	background: #fff;
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #EDEFF1;
}

.products-div .filter-div .panel-group .panel .panel-heading {
	background: none;
	border: 0px;
}

.products-div .filter-div .panel-group .panel .panel-heading a {
	text-decoration: none;
}

.products-div .filter-div .panel-group .panel .panel-collapse .panel-body
	{
	border: 0px;
	padding: 0px 15px;
}

.products-div .filter-div .panel-heading .accordion-toggle:after {
	font-family: 'FontAwesome';
	content: "\f078";
	float: right;
	color: grey;
}

.products-div .filter-div .panel-heading .accordion-toggle.collapsed:after
	{
	content: "\f054";
}

.products-div .pro-head {
	border-bottom: 1px solid #EDEFF1;
	margin-bottom: 15px;
	padding-bottom: 7px;
	margin-right: 0px;
}

.products-div .pro-head h5 {
	font-weight: bold;
}

.products-div .pro-head h5 a {
	margin-left: 15px;
	font-weight: normal;
	text-decoration: none;
}

.products-div .pro-head h5 a.active, .products-div .pro-head h5 a:hover
	{
	border-bottom: 2px solid green;
	padding-bottom: 10px;
}

.products-div .pro-list .pro-box {
	border: 1px solid #EDEFF1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	height: 460px;
	margin-bottom: 15px;
}

.products-div .pro-list .pro-box .pro-img {
	height: 400px;
}

.products-div .pro-list .pro-box .pro-bottom {
	background: #EDEFF1;
	height: 60px;
	padding: 12px 10px;
}

.products-div .pro-list .pro-box .pro-bottom .price_info .price {
	font-weight: bold;
}

.products-div .pro-list .pro-box .pro-bottom .price_info .actual_price {
	text-decoration: line-through;
	color: grey;
}

.products-div .pro-list .pro-box .pro-bottom .offer_price {
	color: green;
}

.products-div .pro-list .pro-box .pro-bottom a {
	font-size: 16px;
}

/*---Common css---*/
.padding-0 {
	padding: 0px;
}

.margin-0 {
	margin: 0px;
}

.padding-left0 {
	padding-left: 0px;
}

.breadcrumb {
	background-color: #fcf7f7;
	margin-top: 10px;
}

/*---Menu css---*/
.navbar {
	margin: 0px;
	border: 0px;
	border-radius: 0px;
}

.navbar li a {
	padding: 10px !important;
}

.navbar li a span {
	color: #fff;
}

.navbar .navbar-collapse {
	background: #323a3d;
}

.dropdown-menu {
	background: rgba(50, 58, 61, 0.7);
	border: none;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,
	.dropdown-menu>li>a, .dropdown-menu>li {
	border-bottom: 3px solid transparent;
}

.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	border-bottom: 3px solid transparent;
	background: none;
}

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus,
	.dropdown-menu>li>a:hover, .navbar-toggle {
	color: #fff;
}

.dropdown-menu {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
	border-bottom: #C4E17F 3px solid;
}

.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
	border-bottom: #F7FDCA 3px solid;
}

.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
	border-bottom: #FECF71 3px solid;
}

.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
	border-bottom: #F0776C 3px solid;
}

.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
	border-bottom: #DB9DBE 3px solid;
}

.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
	border-bottom: #C49CDE 3px solid;
}

.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
	border-bottom: #669AE1 3px solid;
}

.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
	border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar {
	color: #fff;
	background: #fff;
}

.footer-div {
	background: #EDEFF1;
	padding: 20px 15px 0 15px;
}

.footer-div ul .dropdown-header {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	padding: 0px 0 10px 0;
	margin-bottom: 10px;
}

.footer-div ul li {
	list-style-type: none;
	line-height: 25px;
}

.footer-div ul .newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}

.footer-div ul .newsletter-box h5 {
	width: 100%;
	border: 1px solid #BAC1C8;
	padding: 7px;
	background: #fff;
}

.footer-div .social {
	margin-top: 20px;
}

.footer-div .social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.footer-div .social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.footer-div .social li:hover .fa {
	color: #fff;
}

.footer-div .footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding: 10px 0;
	margin: 20px -15px 0 -15px;
}

.footer-div .footer-bottom .payments {
	width: 170px;
	float: right;
}

.footer-div .footer-bottom .payments .fa {
	font-size: 30px;
}

@media only screen and (max-width: 995px) {
	.product-div .caption-div {
		font-size: 25px;
	}
}

@media only screen and (max-width: 767px) {
	.container-div {
		padding-top: 185px;
	}
	.header-div {
		height: 185px;
		padding-bottom: 0px;
	}
	.header-div .input-group {
		margin: 10px 0;
	}
	.product-div .caption-div {
		font-size: 32px;
	}
	.products-div .pro-head {
		margin-top: 15px;
	}
	.products-div .pro-head h5 {
		text-align: left;
		margin-top: 10px;
	}
	.products-div .pro-head .col-xs-12 {
		padding: 0px 15px;
	}
	.products-div .pro-list .padding-left0 {
		padding-left: 15px;
	}
	.products-div .pro-list .pro-box .pro-img {
		display: inline-flex;
	}
}

/*# sourceMappingURL=style.css.map */